{
  "openapi": "3.0.3",
  "info": {
    "title": "Larvoice TTS API",
    "version": "1.0.0",
    "description": "Text-to-Speech API with voice upload, previews, async jobs, batch jobs, usage tracking, and MCP-friendly workflows."
  },
  "servers": [
    {
      "url": "https://api.larvoice.com",
      "description": "Larvoice Cloud"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account"
    },
    {
      "name": "Languages"
    },
    {
      "name": "TTS"
    },
    {
      "name": "Voices"
    },
    {
      "name": "Files"
    },
    {
      "name": "Health"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "Health"
        ],
        "summary": "Health check",
        "security": [],
        "responses": {
          "200": {
            "description": "Service is online",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get current account and quota",
        "responses": {
          "200": {
            "description": "Account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get usage statistics",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Start date YYYY-MM-DD"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "End date YYYY-MM-DD"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/languages": {
      "get": {
        "tags": [
          "Languages"
        ],
        "summary": "List supported languages",
        "security": [],
        "responses": {
          "200": {
            "description": "Languages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LanguagesEnvelope"
                }
              }
            }
          }
        }
      }
    },
    "/v1/voices": {
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "List saved voices",
        "responses": {
          "200": {
            "description": "Voices",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoicesEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "Voices"
        ],
        "summary": "Upload voice sample",
        "description": "Upload mp3, wav, or m4a to create a reusable voice_id.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "Audio file: mp3, wav, or m4a. Max 25 MB."
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 120,
                    "description": "Voice display name."
                  },
                  "ref_text": {
                    "type": "string",
                    "maxLength": 2000,
                    "description": "Optional transcript/reference text for the voice sample."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Voice created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceUploadEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "413": {
            "$ref": "#/components/responses/PayloadTooLarge"
          }
        }
      }
    },
    "/v1/voices/{voice_id}": {
      "get": {
        "tags": [
          "Voices"
        ],
        "summary": "Get one voice",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoiceEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Voices"
        ],
        "summary": "Update voice name or ref_text",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoiceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateVoiceEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Voices"
        ],
        "summary": "Update voice name or ref_text",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoiceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateVoiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Voice updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateVoiceEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "tags": [
          "Voices"
        ],
        "summary": "Delete voice",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoiceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Voice deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteVoiceEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/voices/{voice_id}/preview": {
      "post": {
        "tags": [
          "Voices"
        ],
        "summary": "Preview one saved voice",
        "parameters": [
          {
            "$ref": "#/components/parameters/VoiceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview audio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsPreviewEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tts/preview": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Create short TTS preview",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preview audio",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsPreviewEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tts": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Create async TTS job",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsJobRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Job queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTtsJobEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tts/batch": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Create multiple async TTS jobs",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TtsBatchRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TtsBatchEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tts/jobs": {
      "get": {
        "tags": [
          "TTS"
        ],
        "summary": "List TTS jobs",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/JobStatus"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobsEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/tts/jobs/{job_id}": {
      "get": {
        "tags": [
          "TTS"
        ],
        "summary": "Get TTS job status",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobEnvelope"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tts/jobs/{job_id}/cancel": {
      "post": {
        "tags": [
          "TTS"
        ],
        "summary": "Cancel queued TTS job",
        "parameters": [
          {
            "$ref": "#/components/parameters/JobId"
          }
        ],
        "responses": {
          "200": {
            "description": "Job cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ValidationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/files/{file}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Download signed output file",
        "security": [],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File bytes"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "head": {
        "tags": [
          "Files"
        ],
        "summary": "Check signed output file",
        "security": [],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "expires",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "signature",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File exists"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/ref-audio/{file}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Download saved reference audio",
        "security": [],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audio bytes"
          },
          "206": {
            "description": "Partial audio bytes"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "head": {
        "tags": [
          "Files"
        ],
        "summary": "Check saved reference audio",
        "security": [],
        "parameters": [
          {
            "name": "file",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "File exists"
          },
          "206": {
            "description": "Partial content metadata"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    },
    "parameters": {
      "VoiceId": {
        "name": "voice_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "JobId": {
        "name": "job_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Missing or invalid API key",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "NotFound": {
        "description": "Not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "PayloadTooLarge": {
        "description": "Payload too large",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "example": true
          }
        }
      },
      "AccountEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Account"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "character_limit": {
            "type": "integer"
          },
          "characters_used": {
            "type": "integer"
          },
          "remaining_characters": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "UsageEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "range": {
                "type": "object"
              },
              "quota": {
                "type": "object"
              },
              "voices": {
                "type": "object"
              },
              "summary": {
                "type": "object"
              },
              "daily": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      },
      "LanguagesEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Language"
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "Language": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "example": "vi"
          },
          "name": {
            "type": "string"
          },
          "native_name": {
            "type": "string"
          },
          "default": {
            "type": "boolean"
          },
          "supports_srt": {
            "type": "boolean"
          },
          "supports_voice_clone": {
            "type": "boolean"
          }
        }
      },
      "VoiceUploadEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/VoiceUpload"
          }
        }
      },
      "VoiceEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Voice"
          }
        }
      },
      "VoicesEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Voice"
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "voice_count": {
                "type": "integer"
              },
              "max_voices": {
                "type": "integer"
              }
            }
          }
        }
      },
      "VoiceUpload": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Voice"
          },
          {
            "type": "object",
            "properties": {
              "voice_id": {
                "type": "string",
                "format": "uuid"
              },
              "max_reference_seconds": {
                "type": "number"
              },
              "voice_count": {
                "type": "integer"
              },
              "max_voices": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "Voice": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "ref_audio_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "ref_text": {
            "type": "string",
            "nullable": true
          },
          "ref_audio_url": {
            "type": "string",
            "format": "uri"
          },
          "file_name": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "size_bytes": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "use_count": {
            "type": "integer"
          }
        }
      },
      "UpdateVoiceRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "ref_text": {
            "type": "string",
            "maxLength": 2000
          }
        }
      },
      "UpdateVoiceEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string",
                "nullable": true
              },
              "ref_text": {
                "type": "string",
                "nullable": true
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        }
      },
      "DeleteVoiceEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "uuid"
              },
              "deleted": {
                "type": "boolean"
              }
            }
          }
        }
      },
      "TtsOptions": {
        "type": "object",
        "properties": {
          "voice_id": {
            "type": "string",
            "format": "uuid"
          },
          "ref_audio_url": {
            "type": "string",
            "format": "uri"
          },
          "ref_text": {
            "type": "string",
            "maxLength": 2000
          },
          "language": {
            "type": "string",
            "enum": [
              "vi",
              "en"
            ],
            "default": "vi"
          },
          "output_format": {
            "type": "string",
            "enum": [
              "wav",
              "mp3"
            ],
            "default": "wav"
          },
          "return_srt": {
            "type": "boolean"
          },
          "post_speed": {
            "type": "number",
            "minimum": 0.5,
            "maximum": 2
          },
          "post_pitch": {
            "type": "number",
            "minimum": -6,
            "maximum": 6
          },
          "post_volume": {
            "type": "number",
            "minimum": -20,
            "maximum": 20
          }
        }
      },
      "TtsPreviewRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TtsOptions"
          },
          {
            "type": "object",
            "properties": {
              "text": {
                "type": "string",
                "maxLength": 500
              },
              "gen_text": {
                "type": "string",
                "maxLength": 500
              }
            }
          }
        ]
      },
      "TtsJobRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TtsOptions"
          },
          {
            "type": "object",
            "required": [
              "gen_text"
            ],
            "properties": {
              "gen_text": {
                "type": "string",
                "maxLength": 10000
              }
            }
          }
        ]
      },
      "TtsBatchRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TtsOptions"
          },
          {
            "type": "object",
            "required": [
              "items"
            ],
            "properties": {
              "items": {
                "type": "array",
                "minItems": 1,
                "maxItems": 50,
                "items": {
                  "type": "object",
                  "required": [
                    "gen_text"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "gen_text": {
                      "type": "string",
                      "maxLength": 10000
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "TtsPreviewEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/TtsResult"
          }
        }
      },
      "TtsResult": {
        "type": "object",
        "properties": {
          "audio_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "srt_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "content_type": {
            "type": "string",
            "nullable": true
          },
          "duration_seconds": {
            "type": "number",
            "nullable": true
          },
          "expires_at": {
            "type": "string",
            "nullable": true
          },
          "return_srt": {
            "type": "boolean"
          },
          "character_count": {
            "type": "integer"
          }
        }
      },
      "CreateTtsJobEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "job_id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "$ref": "#/components/schemas/JobStatus"
              },
              "character_count": {
                "type": "integer"
              },
              "status_url": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "TtsBatchEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "batch_size": {
                "type": "integer"
              },
              "total_character_count": {
                "type": "integer"
              },
              "jobs": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "nullable": true
                    },
                    "job_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "$ref": "#/components/schemas/JobStatus"
                    },
                    "character_count": {
                      "type": "integer"
                    },
                    "status_url": {
                      "type": "string",
                      "format": "uri"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "JobsEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Job"
            }
          },
          "meta": {
            "type": "object"
          }
        }
      },
      "JobEnvelope": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/Job"
          }
        }
      },
      "Job": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TtsResult"
          },
          {
            "type": "object",
            "properties": {
              "job_id": {
                "type": "string",
                "format": "uuid"
              },
              "status": {
                "$ref": "#/components/schemas/JobStatus"
              },
              "character_count": {
                "type": "integer"
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              },
              "started_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "completed_at": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "error": {
                "type": "object"
              }
            }
          }
        ]
      },
      "JobStatus": {
        "type": "string",
        "enum": [
          "queued",
          "processing",
          "completed",
          "failed"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              },
              "details": {
                "type": "array",
                "items": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
